.detail-contain .top-btns {
  line-height: 30px;
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 50%;
  width: 180px;
  height: 30px;
  margin-left: -90px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
}
.detail-contain .top-btns .top-btn {
  font-size: 16px;
  line-height: 30px;
  width: 180px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -1px;
  width: 95px;
  border: 0;
}
.detail-contain .top-btns .top-btn.active {
  border: 1px solid #000 !important;
  background: #fff;
}
.detail-contain .top-btns :nth-child(1) {
  margin-left: -1px;
  position: absolute;
  left: 0;
  top: 0;
}
.detail-contain .top-btns :nth-child(2) {
  margin-right: -1px;
  position: absolute;
  right: 0;
  top: 0;
}
.detail-contain .viewer-section {
  position: relative;
  overflow: visible;
  width: 100%;
  min-width: 768px;
  background-size: 100% 100%;
  height: calc(100vh - 68px);
  background-image: url("../../images/pages/artworks/wall_bg.jpg");
}
.detail-contain .viewer-section .viewer {
  position: relative;
  font-size: 12px;
}
.detail-contain .viewer-section .viewer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.6));
  cursor: zoom-in;
}
.detail-contain .viewer-section .viewer .width-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 13px;
  margin-left: -500px;
  text-align: center;
  color: #aaa;
  border: 1px solid #aaa;
  border-top: 0;
  border-bottom: 0;
}
.detail-contain .viewer-section .viewer .width-line div {
  position: absolute;
  top: 0;
  width: calc(50% - 40px);
  height: 6px;
  border-bottom: 1px solid #aaa;
  min-width: 5px;
}
.detail-contain .viewer-section .viewer .width-line div:nth-child(1) {
  left: 0;
}
.detail-contain .viewer-section .viewer .width-line div:nth-child(2) {
  right: 0;
}
.detail-contain .viewer-section .viewer .width-line span {
  font-size: 14px;
  display: block;
  margin-top: -3px;
}
.detail-contain .viewer-section .viewer .height-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 100px;
  text-align: center;
  color: #aaa;
  border: 1px solid #aaa;
  border-right: 0;
  border-left: 0;
  writing-mode: vertical-rl;
  writing-mode: tb-lr;
}
.detail-contain .viewer-section .viewer .height-line div {
  position: absolute;
  left: 0;
  width: 6px;
  height: calc(50% - 40px);
  border-right: 1px solid #aaa;
  min-height: 5px;
}
.detail-contain .viewer-section .viewer .height-line div:nth-child(1) {
  top: 0;
}
.detail-contain .viewer-section .viewer .height-line div:nth-child(2) {
  bottom: 0;
}
.detail-contain .viewer-section .viewer .height-line span {
  font-size: 14px;
  display: block;
  margin-top: -3px;
}
.detail-contain .viewer-section .goods-info .detail-box {
  position: absolute;
  top: 130px;
  right: 82px;
  width: 56px;
  height: 112px;
  z-index: 3;
}
.detail-contain .viewer-section .goods-info .detail-box i {
  font-size: 30px;
  line-height: 56px;
  position: absolute;
  background: #fff;
  display: block;
  width: 56px;
  height: 56px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}
.detail-contain .viewer-section .goods-info .detail-box i:nth-child(2) {
  top: 57px;
  height: 58px;
  border-top: 0;
}
.detail-contain .viewer-section .goods-info .buy-info {
  z-index: 3;
  position: absolute;
  top: 130px;
  right: 145px;
  width: 320px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.detail-contain .viewer-section .goods-info .buy-info .price {
  padding: 20px;
  line-height: 20px;
}
.detail-contain .viewer-section .goods-info .buy-info .price ._price {
  font-size: 24px;
  line-height: 20px;
  display: inline-block;
  float: left;
  height: 20px;
  color: #000;
}
.detail-contain .viewer-section .goods-info .buy-info .price .no-sell {
  font-size: 12px;
  display: block;
  float: right;
  width: 30px;
  height: 18px;
  line-height: 18px;
  margin-top: 1px;
  text-align: center;
  color: #ccc;
  background-color: #4a4a4a;
  margin-bottom: 1px;
}
.detail-contain .viewer-section .goods-info .buy-info .classify {
  font-size: 14px;
  height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #eeeeee;
}
.detail-contain .viewer-section .goods-info .buy-info .classify ul li {
  float: left;
  color: #666;
  line-height: 20px;
  margin-right: 20px;
}
.detail-contain .viewer-section .goods-info .buy-info .classify ul li i {
  width: 18px;
  height: 18px;
  margin-bottom: 1px;
  vertical-align: bottom;
  color: red;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn {
  padding: 12px 0;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn .p-info {
  padding: 0 20px;
  box-sizing: border-box;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn .p-info > span:nth-child(1) {
  width: 60px;
  display: inline-block;
  text-align: left;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn p {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding: 0 20px;
  text-align: left;
  color: #666;
  width: 100%;
  box-sizing: border-box;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn div {
  float: left;
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn div a {
  font-size: 16px;
  line-height: 40px;
  display: block;
  float: left;
  width: 135px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1px;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn div a.cart {
  color: #fff;
  background-color: #ee403c;
}
.detail-contain .viewer-section .goods-info .buy-info .buy-btn div a.buy {
  float: right;
  color: #fff;
  background: #000;
}
.detail-contain .viewer-section .goods-info .buy-info.active {
  opacity: 1;
}
.detail-contain .viewer-section .goods-info .detail-info {
  position: absolute;
  top: 130px;
  right: 145px;
  width: 320px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  box-sizing: border-box;
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.detail-contain .viewer-section .goods-info .detail-info .base-info .name {
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  vertical-align: middle;
  color: #000;
}
.detail-contain .viewer-section .goods-info .detail-info .base-info .name a {
  color: #000;
}
.detail-contain .viewer-section .goods-info .detail-info .base-info .infos {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.detail-contain .viewer-section .goods-info .detail-info .base-info .infos span {
  font-size: 12px;
  display: inline-block;
  color: #666;
  margin-right: 12px;
}
.detail-contain .viewer-section .goods-info .detail-info .recommend {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
}
.detail-contain .viewer-section .goods-info .detail-info .recommend p {
  margin-bottom: 20px;
  color: #000;
}
.detail-contain .viewer-section .goods-info .detail-info .recommend p + p {
  color: #666;
  line-height: 30px;
}
.detail-contain .viewer-section .goods-info .detail-info .recommend span {
  display: block;
  text-align: right;
  color: #666;
}
.detail-contain .viewer-section .goods-info .detail-info.active {
  opacity: 1;
}
.detail-contain .work-info-section {
  position: relative;
  width: 100%;
  padding: 39px 0 60px 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
.detail-contain .work-info-section .arter {
  position: relative;
  width: 100%;
  padding-top: 60px;
  text-align: center;
  box-sizing: border-box;
}
.detail-contain .work-info-section .arter .imgbox {
  position: relative;
  width: 100%;
  height: 140px;
  text-align: center;
}
.detail-contain .work-info-section .arter .imgbox img {
  width: 140px;
  height: 100%;
  border-radius: 50%;
}
.detail-contain .work-info-section .arter .name {
  font-size: 18px;
  line-height: 25px;
  margin-top: 14px;
}
.detail-contain .work-info-section .arter .name a {
  color: black;
  font-size: 16px;
}
.detail-contain .work-info-section .arter .another {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: #666;
}
.detail-contain .work-info-section .arter .another .artworkcount {
  color: #000;
  font-weight: bold;
  margin: 0 5px;
}
.detail-contain .work-info-section .arter .more {
  margin-top: 19px;
  line-height: 20px;
  font-size: 14px;
  display: block;
}
.detail-contain .work-info-section > ul {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 44px;
  list-style-type: none;
  color: #333;
  border-top: dashed 1px #979797;
  font-size: 16px;
}
.detail-contain .work-info-section > ul li {
  width: 100%;
  box-sizing: border-box;
  border-bottom: dashed 1px #979797;
}
.detail-contain .work-info-section > ul li div {
  width: 28%;
  margin-right: 2%;
  text-align: left;
  float: left;
  padding: 16px 0;
}
.detail-contain .work-info-section > ul li div:first-child {
  margin-left: 7%;
}
.detail-contain .work-info-section > ul li span {
  display: block;
  float: left;
  width: 70px;
  padding-right: 10px;
  text-align: justify;
}
.detail-contain .work-info-section > ul li h1 {
  font-size: 16px;
  font-weight: normal;
}
.detail-contain .work-info-section > p {
  width: 150px;
  height: 37px;
  line-height: 37px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: auto;
}
.detail-contain .work-desc-section {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0 0;
  box-sizing: border-box;
}
.detail-contain .work-desc-section .onePingxi {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  padding: 0 96px;
  box-sizing: border-box;
  margin-bottom: 70px;
  line-height: 300px;
}
.detail-contain .work-desc-section .onePingxi .textDes {
  overflow: hidden;
  width: 100%;
  max-height: 300px;
  padding-left: 400px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  font-size: 14px;
  line-height: 2.14;
}
.detail-contain .work-desc-section .onePingxi .textDes p {
  text-align: justify;
}
.detail-contain .work-desc-section .onePingxi img {
  float: left;
  width: 300px;
  height: 300px;
  margin-right: -300px;
}
.detail-contain .work-desc-section > div {
  padding: 96px 96px 70px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.detail-contain .work-desc-section > div .yinhaoleft {
  top: 30px;
  left: 10px;
}
.detail-contain .work-desc-section > div .yinhaoright {
  bottom: 0;
  right: 10px;
}
.detail-contain .work-desc-section > div .yinhao {
  font-family: Arial !important;
  font-size: 210px;
  position: absolute;
  color: #eeeeee;
}
.detail-contain .work-desc-section > div i {
  font-size: 18px;
  line-height: 36px;
  display: block;
  font-family: serif !important;
}
.detail-contain .work-desc-section > div i span {
  display: block;
  text-align: right;
  font-family: serif !important;
}
.detail-contain .work-desc-section > p {
  width: 124px;
  height: 37px;
  line-height: 37px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: auto;
}
.detail-contain .comment-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 96px 40px;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.detail-contain .comment-section .comment-header {
  padding-bottom: 30px;
}
.detail-contain .comment-section .comment-header > p {
  font-size: 18px;
  text-align: left;
}
.detail-contain .comment-section .comment-header .text-area {
  width: 100%;
  height: 70px;
  margin-top: 20px;
}
.detail-contain .comment-section .publish {
  font-size: 14px;
  line-height: 27px;
  display: block;
  width: 100px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background-color: #CF680A;
  position: relative;
  left: 100%;
  margin-left: -100px;
}
.detail-contain .comment-section textarea {
  font-size: 14px;
  color: #999;
  padding: 6px;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  line-height: 20px;
  border: 0;
  background-color: #f8f8f8;
}
.detail-contain .comment-section button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #aaa;
}
.detail-contain .remind-section {
  font-size: 14px;
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.detail-contain .remind-section .remind-contain {
  padding: 0 96px;
  display: none;
}
.detail-contain .remind-section .remind-contain .remind {
  margin-top: 45px;
  padding: 0 0 20px 30px;
  color: #666;
  text-align: left;
}
.detail-contain .remind-section .remind-contain .remind h3 {
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 20px;
  position: relative;
  margin-top: 45px;
  margin-bottom: 20px;
}
.detail-contain .remind-section .remind-contain .remind h4 {
  font-weight: normal;
  margin-top: 30px;
}
.detail-contain .remind-section .remind-contain .remind ul {
  font-size: 14px;
}
.detail-contain .remind-section .remind-contain .remind ul li {
  line-height: 30px;
  list-style-position: inside;
  padding-left: 18px;
  height: 30px;
  position: relative;
}
.detail-contain .remind-section .remind-contain .remind ul li:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #666;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 13px;
}
.detail-contain .remind-section .remind-contain .remind > p:first-child {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-bottom: 60px;
}
.detail-contain .remind-section .remind-contain.active {
  display: block;
}
.detail-contain .remind-section > p {
  font-size: 16px;
  text-align: left;
  color: #000000;
  line-height: 22px;
  padding: 23px 96px;
  cursor: pointer;
}
.detail-contain .remind-section > p i {
  width: 30px;
  text-align: center;
}
.detail-contain .remind-section > p .icon-down-solid-arrow {
  font-size: 22px;
  display: none;
}
.detail-contain .remind-section > p .icon-down-solid-arrow.active {
  display: block;
}
.detail-contain .remind-section > p .icon-up-solid-arrow {
  font-size: 22px;
  display: none;
}
.detail-contain .remind-section > p .icon-up-solid-arrow.active {
  display: block;
}
.detail-contain .recommend-section {
  width: 100%;
  background-color: #f8f8f8;
  padding-bottom: 100px;
}
.detail-contain .recommend-section .maybe-like {
  margin: 0 0 10px 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
  padding-top: 40px;
}
.detail-contain .recommend-section .item-box {
  width: 1200px;
  margin: auto;
  position: relative;
  padding: 10px 0;
}
.detail-contain .recommend-section .item-box .item {
  border-radius: 3px;
  float: left;
  position: relative;
  word-spacing: normal;
  margin-right: 20px;
  width: 280px;
  height: 400px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 46px;
}
.detail-contain .recommend-section .item-box .item img {
  width: 280px;
  height: 280px;
  position: relative;
  overflow: hidden;
}
.detail-contain .recommend-section .item-box .item img img {
  width: 100%;
  height: 100%;
}
.detail-contain .recommend-section .item-box .item .info-box {
  width: 280px;
  height: 120px;
  display: table-cell;
  color: #666;
  font-size: 12px;
  text-align: left;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 18px;
}
.detail-contain .recommend-section .item-box .item .info-box p {
  text-align: left;
  font-weight: 600;
  color: #000;
}
.detail-contain .recommend-section .item-box .item .info-box h4 {
  display: inline;
  font-weight: 500;
  color: #666;
}
.detail-contain .recommend-section .item-box .item:last-child {
  margin-right: 0;
}
