.detail-contain {
  .top-btns {
    line-height: 30px;
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 50%;
    width: 180px;
    height: 30px;
    margin-left: -90px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 15px;
    .top-btn {
      font-size: 16px;
      line-height: 30px;
      width: 180px;
      height: 30px;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: -1px;
      width: 95px;
      border: 0;
      &.active {
        border: 1px solid #000 !important;
        background: #fff;
      }
    }
    & :nth-child(1) {
      margin-left: -1px;
      position: absolute;
      left: 0;
      top: 0;
    }
    & :nth-child(2) {
      margin-right: -1px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .viewer-section {
    position: relative;
    overflow: visible;
    width: 100%;
    min-width: 768px;
    background-size: 100% 100%;
    height: calc(~"100vh - 68px");
    background-image: url("../../images/pages/artworks/wall_bg.jpg");
    .viewer {
      position: relative;
      font-size: 12px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.6));
        cursor: zoom-in;
      }
      .width-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 13px;
        margin-left: -500px;
        text-align: center;
        color: #aaa;
        border: 1px solid #aaa;
        border-top: 0;
        border-bottom: 0;
        div {
          position: absolute;
          top: 0;
          width: calc(~"50% - 40px");
          height: 6px;
          border-bottom: 1px solid #aaa;
          min-width: 5px;
          &:nth-child(1) {
            left: 0;
          }
          &:nth-child(2) {
            right: 0;
          }
        }

        span {
          font-size: 14px;
          display: block;
          margin-top: -3px;
        }
      }
      .height-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 13px;
        height: 100px;
        text-align: center;
        color: #aaa;
        border: 1px solid #aaa;
        border-right: 0;
        border-left: 0;
        writing-mode: vertical-rl;
        writing-mode: tb-lr;
        //display: none;
        div {
          position: absolute;
          left: 0;
          width: 6px;
          height: calc(~"50% - 40px");
          border-right: 1px solid #aaa;
          min-height: 5px;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            bottom: 0;
          }
        }

        span {
          font-size: 14px;
          display: block;
          margin-top: -3px;
        }
      }
    }

    .goods-info {
      .detail-box {
        position: absolute;
        top: 130px;
        right: 82px;
        width: 56px;
        height: 112px;
        z-index: 3;
        i {
          font-size: 30px;
          line-height: 56px;
          position: absolute;
          background: #fff;
          display: block;
          width: 56px;
          height: 56px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          color: #000;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          &:nth-child(2) {
            top: 57px;
            height: 58px;
            border-top: 0;
          }
        }
      }

      .buy-info {
        z-index: 3;
        position: absolute;
        top: 130px;
        right: 145px;
        width: 320px;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        .price {
          padding: 20px;
          line-height: 20px;
          ._price {
            font-size: 24px;
            line-height: 20px;
            display: inline-block;
            float: left;
            height: 20px;
            color: #000;
          }
          .no-sell {
            font-size: 12px;
            display: block;
            float: right;
            width: 30px;
            height: 18px;
            line-height: 18px;
            margin-top: 1px;
            text-align: center;
            color: #ccc;
            background-color: #4a4a4a;
            margin-bottom: 1px;
          }
        }

        .classify {
          font-size: 14px;
          height: 40px;
          padding-left: 20px;
          border-bottom: 1px solid #eeeeee;
          ul {
            li {
              float: left;
              color: #666;
              line-height: 20px;
              margin-right: 20px;
              i {
                width: 18px;
                height: 18px;
                margin-bottom: 1px;
                vertical-align: bottom;
                color: red;
              }
            }

          }
        }

        .buy-btn {
          padding: 12px 0;
          .p-info {
            padding: 0 20px;
            box-sizing: border-box;
            & > span:nth-child(1) {
              width: 60px;
              display: inline-block;
              text-align: left;
            }
          }
          p {
            font-size: 12px;
            line-height: 20px;
            height: 20px;
            padding: 0 20px;
            text-align: left;
            color: #666;
            width: 100%;
            box-sizing: border-box;
          }
          div {
            float: left;
            width: 100%;
            padding: 20px;
            padding-top: 10px;
            box-sizing: border-box;
            a {
              font-size: 16px;
              line-height: 40px;
              display: block;
              float: left;
              width: 135px;
              text-align: center;
              vertical-align: middle;
              letter-spacing: 1px;
              &.cart {
                color: #fff;
                background-color: #ee403c;
              }
              &.buy {
                float: right;
                color: #fff;
                background: #000;
              }
            }
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .detail-info {
        position: absolute;
        top: 130px;
        right: 145px;
        width: 320px;
        padding: 20px;
        text-align: left;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        box-sizing: border-box;
        z-index: 3;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        .base-info {
          .name {
            font-size: 20px;
            line-height: 20px;
            width: 100%;
            vertical-align: middle;
            color: #000;
            a {
              color: #000;
            }
          }
          .infos {
            width: 100%;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eeeeee;
            span {
              font-size: 12px;
              display: inline-block;
              color: #666;
              margin-right: 12px;
            }
          }
        }

        .recommend {
          margin-top: 20px;
          font-size: 14px;
          width: 100%;
          p {
            margin-bottom: 20px;
            color: #000;
            & + p {
              color: #666;
              line-height: 30px;
            }
          }
          span {
            display: block;
            text-align: right;
            color: #666;
          }
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .work-info-section {
    position: relative;
    width: 100%;
    padding: 39px 0 60px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;

    .arter {
      position: relative;
      width: 100%;
      padding-top: 60px;
      text-align: center;
      box-sizing: border-box;
      .imgbox {
        position: relative;
        width: 100%;
        height: 140px;
        text-align: center;
        img {
          width: 140px;
          height: 100%;
          border-radius: 50%;
        }
      }
      .name {
        font-size: 18px;
        line-height: 25px;
        margin-top: 14px;
        a {
          color: black;
          font-size: 16px;
        }
      }
      .another {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        color: #666;
        .artworkcount {
          color: #000;
          font-weight: bold;
          margin: 0 5px;
        }
      }
      .more {
        margin-top: 19px;
        line-height: 20px;
        font-size: 14px;
        display: block;
      }
    }

    & > ul {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      margin-top: 44px;
      list-style-type: none;
      color: #333;
      border-top: dashed 1px #979797;
      font-size: 16px;
      li {
        width: 100%;
        box-sizing: border-box;
        border-bottom: dashed 1px #979797;
        div {
          width: 28%;
          margin-right: 2%;
          text-align: left;
          float: left;
          padding: 16px 0;

          &:first-child {
            margin-left: 7%;
          }
        }

        span {
          display: block;
          float: left;
          width: 70px;
          padding-right: 10px;
          text-align: justify;
        }

        h1 {
          font-size: 16px;
          font-weight: normal;
        }

      }
    }

    & > p {
      width: 150px;
      height: 37px;
      line-height: 37px;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      color: #000000;
      margin: auto;
    }
  }

  .work-desc-section {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0 0;
    box-sizing: border-box;
    .onePingxi {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 300px;
      padding: 0 96px;
      box-sizing: border-box;
      margin-bottom: 70px;
      line-height: 300px;
      .textDes {
        overflow: hidden;
        width: 100%;
        max-height: 300px;
        padding-left: 400px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        color: #666;
        font-size: 14px;
        line-height: 2.14;
        p {
          text-align: justify;
        }
      }
      img {
        float: left;
        width: 300px;
        height: 300px;
        margin-right: -300px;
      }
    }

    & > div {
      padding: 96px 96px 70px;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      .yinhaoleft {
        top: 30px;
        left: 10px;
      }
      .yinhaoright {
        bottom: 0;
        right: 10px;
      }
      .yinhao {
        font-family: Arial !important;
        font-size: 210px;
        position: absolute;
        color: #eeeeee;
      }
      i {
        font-size: 18px;
        line-height: 36px;
        display: block;
        font-family: serif !important;
        span {
          display: block;
          text-align: right;
          font-family: serif !important;
        }
      }
    }
    & > p {
      width: 124px;
      height: 37px;
      line-height: 37px;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      color: #000000;
      margin: auto;
    }
  }

  .comment-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 96px 40px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .comment-header {
      padding-bottom: 30px;
      & > p {
        font-size: 18px;
        text-align: left;
      }
      .text-area {
        width: 100%;
        height: 70px;
        margin-top: 20px;
      }
    }

    .publish {
      font-size: 14px;
      line-height: 27px;
      display: block;
      width: 100px;
      margin-top: 20px;
      text-align: center;
      color: #fff;
      background-color: #CF680A;
      position: relative;
      left: 100%;
      margin-left: -100px;
    }
    textarea {
      font-size: 14px;
      color: #999;
      padding: 6px;
      padding-left: 10px;
      padding-top: 10px;
      box-sizing: border-box;
      line-height: 20px;
      border: 0;
      background-color: #f8f8f8;
    }
    button {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
      color: #aaa;
    }
  }

  .remind-section {
    font-size: 14px;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    margin-bottom: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .remind-contain {
      padding: 0 96px;
      display: none;
      .remind {
        margin-top: 45px;
        padding: 0 0 20px 30px;
        color: #666;
        text-align: left;
        h3 {
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
          line-height: 20px;
          position: relative;
          margin-top: 45px;
          margin-bottom: 20px;
        }

        h4 {
          font-weight: normal;
          margin-top: 30px;
        }

        ul {
          font-size: 14px;
          li {
            line-height: 30px;
            list-style-position: inside;
            padding-left: 18px;
            height: 30px;
            position: relative;
            &:after {
              content: "";
              width: 5px;
              height: 5px;
              background: #666;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 13px;
            }
          }
        }
        & > p:first-child {
          font-size: 14px;
          color: #000;
          font-weight: bold;
          margin-bottom: 60px;
        }
      }
      &.active {
        display: block;
      }
    }

    & > p {
      font-size: 16px;
      text-align: left;
      color: #000000;
      line-height: 22px;
      padding: 23px 96px;
      cursor: pointer;
      i {
        width: 30px;
        text-align: center;
      }
      .icon-down-solid-arrow {
        font-size: 22px;
        display: none;
        &.active {
          display: block;
        }
      }
      .icon-up-solid-arrow {
        font-size: 22px;
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }

  .recommend-section {
    width: 100%;
    background-color: #f8f8f8;
    padding-bottom: 100px;
    .maybe-like {
      margin: 0 0 10px 0;
      text-align: center;
      padding-bottom: 10px;
      font-size: 26px;
      font-weight: bold;
      padding-top: 40px;
    }
    .item-box {
      width: 1200px;
      margin: auto;
      position: relative;
      padding: 10px 0;
      .item {
        border-radius: 3px;
        float: left;
        position: relative;
        word-spacing: normal;
        margin-right: 20px;
        width: 280px;
        height: 400px;
        overflow: hidden;
        background-color: #fff;
        margin-top: 46px;
        img {
          width: 280px;
          height: 280px;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .info-box {
          width: 280px;
          height: 120px;
          display: table-cell;
          color: #666;
          font-size: 12px;
          text-align: left;
          padding: 0 20px;
          vertical-align: middle;
          line-height: 18px;
          p {
            text-align: left;
            font-weight: 600;
            color: #000;
          }
          h4 {
            display: inline;
            font-weight: 500;
            color: #666;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
