.buy-art {
  width: 100%;
}
.buy-art .red {
  background-color: #e73233 !important;
}
.buy-art .yellow {
  background-color: #ffea03 !important;
}
.buy-art .green {
  background-color: #32cc66 !important;
}
.buy-art .blue {
  background-color: #0099ff !important;
}
.buy-art .bwg {
  box-sizing: border-box;
  position: relative;
}
.buy-art .bwg img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.buy-art .icon_a img {
  width: 100%;
  height: 100%;
}
