.buy-art {
  width: 100%;

  .red {
    background-color: #e73233 !important;
  }
  .yellow {
    background-color: #ffea03 !important;
  }
  .green {
    background-color: #32cc66 !important;
  }
  .blue {
    background-color: #0099ff !important;
  }
  .bwg {
    box-sizing: border-box;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .icon_a {
    img {
      width: 100%;
      height: 100%;
    }
  }
}