.cart-contain {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 0 200px;
}
.cart-contain .cart-head {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
}
.cart-contain .cart-head h1 {
  text-align: right;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}
.cart-contain .cart-head span {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}
.cart-contain .cart-main {
  padding: 20px 20px 20px 28px;
}
.cart-contain .cart-main .cart-list ul {
  padding: 0;
}
.cart-contain .cart-main .cart-list ul > li .choice-item {
  color: #666;
  font-weight: bold;
  display: block;
  font-size: 14px;
}
.cart-contain .cart-main .cart-list ul > li .choice-item input {
  vertical-align: middle;
  margin-right: 24px;
}
.cart-contain .cart-main .cart-list ul > li .choice-item .daytime {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  margin: 10px 0;
}
.cart-contain .cart-main .cart-list ul > li .item {
  padding: 20px;
  padding-left: 38px;
  border: 2px solid #c0c0c0;
}
.cart-contain .cart-main .cart-list ul > li .item .choice {
  width: 16px;
  height: 14px;
  margin-left: -25px;
  overflow: hidden;
}
.cart-contain .cart-main .cart-list ul > li .item .choice input {
  position: absolute;
  left: -100px;
}
.cart-contain .cart-main .cart-list ul > li .item .choice label {
  width: 16px;
  height: 14px;
  display: block;
  background: url("../../images/pages/shopping/uncheck.svg") left top no-repeat;
  background-size: auto 100%;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box {
  position: relative;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .thumb {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-right: 40px;
  position: relative;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .thumb a {
  text-decoration: none;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .thumb .img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .detail {
  max-width: 50%;
  max-height: 100px;
  overflow: hidden;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .detail .title {
  color: #000;
  padding-bottom: 8px;
  font-size: 16px;
  overflow: hidden;
  line-height: 20px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .detail .pc-name {
  display: block;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .detail .number {
  position: absolute;
  bottom: 20px;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .detail p {
  color: #a8a8a8;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-align: left;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .detail p a {
  color: #a8a8a8;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .price-unit {
  float: right;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .price-unit p {
  text-align: right;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .price-unit p.now {
  color: #000;
  font-size: 16px;
  display: inline-block;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .price-unit p.old {
  color: #999;
  font-size: 12px;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .op {
  display: none;
}
.cart-contain .cart-main .cart-list ul > li .item .info-box .op a {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 12px;
}
.cart-contain .cart-main .cart-list ul > li .item.active {
  border: 2px solid #000;
}
.cart-contain .cart-main .cart-list ul > li .item.active .choice label {
  background: url("../../images/pages/shopping/checked.svg") left top no-repeat;
}
.cart-contain .cart-main .cart-list ul > li .item:hover .info-box .op {
  display: block;
}
.cart-contain .cart-choice-all {
  font-size: 12px;
  color: #666;
  margin-bottom: 40px;
  text-align: left;
  padding-left: 10px;
  line-height: 44px;
}
.cart-contain .cart-choice-all .choice-all input {
  position: absolute;
  left: -100px;
}
.cart-contain .cart-choice-all .choice-all span {
  width: 16px;
  height: 14px;
  display: inline-block;
  background: url("../../images/pages/shopping/uncheck.svg") left top no-repeat;
  background-size: auto 100%;
  margin-bottom: -2px;
}
.cart-contain .cart-choice-all .choice-all.active span {
  background: url("../../images/pages/shopping/checked.svg") left top no-repeat;
}
.cart-contain .cart-choice-all div .info {
  vertical-align: middle;
  float: left;
  margin-right: 20px;
}
.cart-contain .cart-choice-all div .info span {
  color: #000;
}
.cart-contain .cart-choice-all div .price {
  text-decoration: none;
  color: #ee403c;
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
  float: left;
}
.cart-contain .cart-choice-all div .price span,
.cart-contain .cart-choice-all div .price em {
  font-style: normal;
  text-decoration: none;
}
.cart-contain .cart-choice-all div .active {
  background: #000;
  cursor: pointer;
}
.cart-contain .cart-choice-all div button {
  color: #FFF;
  background: #CCC;
  width: 140px;
  line-height: 36px;
  display: inline-block;
  border: 0;
  margin-left: 30px;
  cursor: not-allowed;
  font-size: 16px;
  float: left;
}
.cart-contain .cart-choice-all .dels {
  margin-left: 40px;
  color: #666;
  cursor: pointer;
}
.cart-contain .cart-choice-all.fix-bottom {
  height: 44px;
  background-color: #f8f8f8;
  margin: 0;
  width: 100%;
  max-width: 960px;
}
.cart-contain .cart-choice-all.fix-bottom button {
  height: 44px;
}
.cart-contain button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}
