.index-contain {
  .index_center {
    overflow: hidden;
    margin-top: 488px;
    width: 100%;
    background-color: #fff;
    position: relative;

    .img-hover:hover img {
      transform: scale(1.05);
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }
}