.userHistory-contain .my-center {
  min-height: 600px;
}
.userHistory-contain .my-center .my-travel {
  margin-top: 20px;
}
.userHistory-contain .my-center .my-travel .item {
  margin: 20px 0 50px;
}
.userHistory-contain .my-center .my-travel .item .date {
  margin: 0 15px;
  border-bottom: 4px solid #000;
}
.userHistory-contain .my-center .my-travel .item .date span {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 18px;
  height: 33px;
  line-height: 33px;
  border: 4px solid #000;
  border-bottom: 0;
  width: 164px;
  text-align: center;
  display: block;
  letter-spacing: 4px;
}
.userHistory-contain .my-center .my-travel .item .content {
  padding: 30px 15px;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  transition: background 0.5s;
}
.userHistory-contain .my-center .my-travel .item .content .category {
  width: 137px;
  display: block;
  text-align: center;
  line-height: 140px;
  color: #000;
  font-weight: lighter;
  font-size: 14px;
  float: left;
  position: absolute;
  left: 15px;
  top: 30px;
  background: #ededed;
  transition: background 0.5s;
}
.userHistory-contain .my-center .my-travel .item .content .list {
  float: left;
  margin-left: 137px;
  height: 142px;
  overflow: hidden;
}
.userHistory-contain .my-center .my-travel .item .content .list ul {
  margin: 0;
  padding: 0;
}
.userHistory-contain .my-center .my-travel .item .content .list ul li {
  padding-right: 20px;
  padding-bottom: 25px;
  height: 140px;
  float: left;
}
.userHistory-contain .my-center .my-travel .item .content .list ul li .thumb {
  height: 140px;
  float: left;
}
.userHistory-contain .my-center .my-travel .item .content .list ul li .thumb img {
  height: 100%;
}
.userHistory-contain .my-center .my-travel .item .content .list .more {
  width: 83px;
  height: 140px;
  line-height: 140px;
  position: absolute;
  right: 15px;
  top: 30px;
  text-align: center;
  color: #666;
  display: block;
  text-decoration: none;
  background: #ededed;
}
.userHistory-contain .my-center .my-travel .item .content .list .more i {
  font-size: 30px;
}
.userHistory-contain .my-center .my-travel .item .content:last-child {
  border: 0;
}
