.userOrder-contain {
  width: 1200px;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
}
.userOrder-contain .uc_content {
  width: 1000px;
  border-left: 1px solid #ddd;
  padding-left: 40px;
  min-height: 660px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 244px;
  min-width: 956px;
}
.userOrder-contain .uc_content .order-list {
  float: right;
  width: 1000px;
}
.userOrder-contain .uc_content .order-list .order-nav ul {
  padding: 0 40px;
  margin-bottom: 40px;
  background-color: #f8f8f8;
  border: solid 1px #eeeeee;
  height: 40px;
  line-height: 40px;
}
.userOrder-contain .uc_content .order-list .order-nav ul li {
  display: inline-block;
  margin-right: 100px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}
.userOrder-contain .uc_content .order-list .order-nav ul li span {
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.userOrder-contain .uc_content .order-list .order-nav ul li:after {
  display: none;
  position: absolute;
  bottom: 0;
  left: -26px;
  content: '';
  width: 100px;
  height: 4px;
  background-color: #000;
}
.userOrder-contain .uc_content .order-list .order-nav ul li.active:after {
  display: block;
}
.userOrder-contain .uc_content .order-list .order-content .order-item {
  margin-bottom: 40px;
  border: 1px solid #000;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item-header {
  height: 40px;
  background-color: #000000;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  padding: 0 10px 0 20px;
  text-align: left;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item-header a {
  color: #fff;
  text-decoration: underline;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item-header span {
  margin-right: 10px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item {
  width: 630px;
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #FFF;
  font-size: 12px;
  position: relative;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .thumb {
  width: 175px;
  height: 140px;
  margin-left: 0;
  margin-right: 18px;
  text-align: center;
  overflow: hidden;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .thumb img {
  vertical-align: middle;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .detail {
  color: #333 !important;
  width: 170px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .detail a {
  color: #333 !important;
  font-size: 12px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .logistics {
  text-align: right;
  width: 100px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .logistics .bottom-box {
  right: 20px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .logistics p {
  color: #666;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .logistics p a {
  color: #666;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item .logistics p:first-child {
  text-align: right;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .item:last-child {
  border-bottom: 0;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .price-sum {
  position: relative;
  width: 150px;
  height: 180px;
  font-size: 12px;
  text-align: center;
  color: #666666;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .price-sum p:first-child {
  margin-bottom: 20px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .price-sum strong {
  color: #000;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .price-sum em {
  display: inline-block;
  padding: 0 3px;
  font-style: normal;
  text-decoration: none;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .middle-box {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .middle-box .close-time {
  color: #333;
  font-size: 12px;
  width: 176px;
  text-align: center;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .middle-box p {
  text-align: center;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .bottom-box {
  position: absolute;
  bottom: 20px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .operation {
  position: relative;
  width: 176px;
  text-align: center;
  height: 180px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .operation .btn {
  background-color: #000000;
  color: #fff;
  font-size: 16px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li .operation a {
  display: inline-block;
  width: 100px;
  height: 34px;
  font-size: 12px;
  color: #666666;
  line-height: 34px;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li em {
  font-style: normal;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li p {
  line-height: 18px;
  text-align: left;
}
.userOrder-contain .uc_content .order-list .order-content .order-item ul > li a {
  color: #000;
  text-decoration: none;
}
