html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  -webkit-overflow-scrolling: touch;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
table,
div,
span,
ul,
ol,
li,
input,
textarea,
header,
nav,
section,
article,
aside,
footer,
form,
option {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'sans-serif' !important;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: 0;
}
nav,
header,
footer,
section,
article {
  display: block;
}
ol,
ul,
li {
  list-style-type: none;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
select {
  -webkit-appearance: none;
  border-radius: 0;
  overflow: hidden;
  background: url("../../images/common/select_bg.png") no-repeat right #fff;
  padding-right: 15px;
}
input::-ms-clear {
  display: none;
}
textarea {
  resize: none;
}
.clearfix {
  display: block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.nowrap {
  white-space: nowrap;
}
.abs100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.t_l {
  text-align: left;
}
.t_r {
  text-align: right;
}
.t_c {
  text-align: center;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.fix-bottom {
  position: fixed;
  bottom: 0;
}
.font_b {
  font-weight: bold;
}
.font_l {
  font-weight: lighter;
}
_hidden {
  display: none;
}
.v--modal-overlay {
  z-index: 2000;
}
img[lazy=loading] {
  background-color: #999;
}
