@font-face {
  font-family: 'iconfont';
  /* project id 502388 */
  src: url('//at.alicdn.com/t/font_502388_z0qfg4b3gb3ayvi.eot');
  src: url('//at.alicdn.com/t/font_502388_z0qfg4b3gb3ayvi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_502388_z0qfg4b3gb3ayvi.woff') format('woff'), url('//at.alicdn.com/t/font_502388_z0qfg4b3gb3ayvi.ttf') format('truetype'), url('//at.alicdn.com/t/font_502388_z0qfg4b3gb3ayvi.svg#iconfont') format('svg');
}
.icon-wechat,
.icon-facebook,
.icon-sina,
.icon-close,
.icon-tellphone,
.icon-love,
.icon-shopping-cart,
.icon-refresh,
.icon-down-arrow,
.icon-check,
.icon-bookmark,
.icon-down-solid-arrow,
.icon-up-solid-arrow,
.icon-delete,
.icon-edit,
.icon-checked,
.icon-search-cart,
.icon-user,
.icon-collect,
.icon-collected,
.icon-qrcode,
.icon-arrow-top {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}
