@font-face {
  font-family: 'iconfont';  /* project id 502388 */
  src: url('//at.alicdn.com/t/font_502388_hsi8cqmoaispp66r.eot');
  src: url('//at.alicdn.com/t/font_502388_hsi8cqmoaispp66r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_502388_hsi8cqmoaispp66r.woff') format('woff'),
  url('//at.alicdn.com/t/font_502388_hsi8cqmoaispp66r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_502388_hsi8cqmoaispp66r.svg#iconfont') format('svg');
}

.icon-wechat, .icon-facebook, .icon-sina {
  font-family: 'iconfont', serif;
  font-style: normal;
  color: #3a8373;
  font-size: 24px;
  cursor: pointer;
}

.icon-close {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.icon-refresh {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}