@font-face {
  font-family: 'iconfont';  /* project id 502388 */
  src: url('//at.alicdn.com/t/font_502388_60lbi69zh4nm6lxr.eot');
  src: url('//at.alicdn.com/t/font_502388_60lbi69zh4nm6lxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_502388_60lbi69zh4nm6lxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_502388_60lbi69zh4nm6lxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_502388_60lbi69zh4nm6lxr.svg#iconfont') format('svg');
}

.icon-wechat,
.icon-facebook,
.icon-sina {
  font-family: 'iconfont', serif;
  font-style: normal;
  color: #3a8373;
  font-size: 24px;
  cursor: pointer;
}

.icon-close {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.icon-close-small {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 10px;
  cursor: pointer;
}

.icon-refresh {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.icon-tellphone {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 18px;
}

.icon-down-arrow {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}

.icon-search, .icon-love, .icon-shopping-cart, .icon-menu {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 20px;
}

.icon-check {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}

.icon-bookmark {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}

.icon-down-solid-arrow, .icon-up-solid-arrow {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}

.icon-delete, .icon-edit, .icon-checked {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}

.icon-search-cart {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}

.icon-user, .icon-collect, .icon-collected {
  font-family: 'iconfont', serif;
  font-style: normal;
  font-size: 16px;
}

